<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-text>Players with most goals in World Cup.</ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ng-container *ngIf="stats">
        <ion-list>
            <div class="list-header">
                <ion-list-header padding-end>
                    <ion-grid>
                        <ion-row>
                            <ion-col size="1">
                                <span>#</span>
                            </ion-col>
                            <ion-col size="8">
                                <span>Player</span>
                            </ion-col>
                            <ion-col size="3" text-center>
                                <span>Goals</span>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-list-header>
            </div>
            <ion-item class="player-item" *ngFor="let player of stats">
                <ion-grid>
                    <ion-row>
                        <ion-col size="1">
                            <span class="position-text">{{player.position}}</span>
                        </ion-col>
                        <ion-col size="8">
                            <div>
                                <span class="player-name">{{player.firstName}} {{player.lastName}}</span>
                            </div>
                            <!-- <div class="born-date">
                                <span>{{player.player.born | date:"dd.MM.yyyy"}}</span>
                            </div> -->
                        </ion-col>
                        <ion-col size="3" text-center>
                            <span>{{player.value}}</span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>
    </ng-container>
</ion-content>