.list-header {
    background-color:var(--ion-color-secondary);
    color:white;
    font-size:11px;
    // padding-left:0.5rem;
}

.list-header ion-list-header {
    font-size:11px;
    color:white;
}

ion-item{
    --ion-background-color:#fff;
 }

 
ion-item {
    --inner-padding-end: 0px;
    font-size: 15px;
}


ion-list-header {
    --ion-padding:0px;
}

ion-card {
    margin-top: 0px;
}