<ion-content>
    <div>
        <ion-grid>
            <ion-row>
                <ion-col padding-start>
                    <h3>Pierwsza Runda</h3>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <ion-card>
        <ion-card-content no-padding>
            <div class="list-header">
                <ion-list-header no-padding padding-end>
                    <ion-grid>
                        <ion-row>
                            <ion-col size="1" text-center>
                                <span>Pz</span>
                            </ion-col>
                            <ion-col size="5">
                                <span>Druzyna</span>
                            </ion-col>
                            <ion-col size="1" text-center>
                                <span>Pkt</span>
                            </ion-col>
                            <ion-col size="1" text-center>
                                <span>G</span>
                            </ion-col>
                            <ion-col size="1" text-center>
                                <span>GS</span>
                            </ion-col>
                            <ion-col size="1" text-center>
                                <span>Z</span>
                            </ion-col>
                            <ion-col size="1" text-center>
                                <span>R</span>
                            </ion-col>
                            <ion-col size="1" text-center>
                                <span>P</span>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-list-header>
            </div>
            <ion-list no-padding>
                <ion-item no-padding>
                    <ion-grid>
                        <ion-row align-items-center>
                            <ion-col size="1" text-center>
                                <span>1</span>
                            </ion-col>
                            <ion-col size="5">
                                <span>
                                    Polska
                                </span>
                            </ion-col>
                            <ion-col size="1" text-center>
                                <span>
                                    6
                                </span>
                            </ion-col>
                            <ion-col size="1" text-center>
                                <span>
                                    8
                                </span>
                            </ion-col>
                            <ion-col size="1" text-center>
                                <span>
                                    4
                                </span>
                            </ion-col>
                            <ion-col size="1" text-center>
                                <span>
                                    2
                                </span>
                            </ion-col>
                            <ion-col size="1" text-center>
                                <span>
                                    1
                                </span>
                            </ion-col>
                            <ion-col size="1" text-center>
                                <span>
                                    0
                                </span>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-item no-padding>
                    <ion-grid>
                        <ion-row align-items-center>
                            <ion-col size="1" text-center>
                                <span>1</span>
                            </ion-col>
                            <ion-col size="5">
                                <span>
                                    Polska
                                </span>
                            </ion-col>
                            <ion-col size="1" text-center>
                                <span>
                                    6
                                </span>
                            </ion-col>
                            <ion-col size="1" text-center>
                                <span>
                                    8
                                </span>
                            </ion-col>
                            <ion-col size="1" text-center>
                                <span>
                                    4
                                </span>
                            </ion-col>
                            <ion-col size="1" text-center>
                                <span>
                                    2
                                </span>
                            </ion-col>
                            <ion-col size="1" text-center>
                                <span>
                                    1
                                </span>
                            </ion-col>
                            <ion-col size="1" text-center>
                                <span>
                                    0
                                </span>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-item no-padding>
                    <ion-grid>
                        <ion-row align-items-center>
                            <ion-col size="1" text-center>
                                <span>1</span>
                            </ion-col>
                            <ion-col size="5">
                                <span>
                                    Polska
                                </span>
                            </ion-col>
                            <ion-col size="1" text-center>
                                <span>
                                    6
                                </span>
                            </ion-col>
                            <ion-col size="1" text-center>
                                <span>
                                    8
                                </span>
                            </ion-col>
                            <ion-col size="1" text-center>
                                <span>
                                    4
                                </span>
                            </ion-col>
                            <ion-col size="1" text-center>
                                <span>
                                    2
                                </span>
                            </ion-col>
                            <ion-col size="1" text-center>
                                <span>
                                    1
                                </span>
                            </ion-col>
                            <ion-col size="1" text-center>
                                <span>
                                    0
                                </span>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-item no-padding>
                    <ion-grid>
                        <ion-row align-items-center>
                            <ion-col size="1" text-center>
                                <span>1</span>
                            </ion-col>
                            <ion-col size="5">
                                <span>
                                    Polska
                                </span>
                            </ion-col>
                            <ion-col size="1" text-center>
                                <span>
                                    6
                                </span>
                            </ion-col>
                            <ion-col size="1" text-center>
                                <span>
                                    8
                                </span>
                            </ion-col>
                            <ion-col size="1" text-center>
                                <span>
                                    4
                                </span>
                            </ion-col>
                            <ion-col size="1" text-center>
                                <span>
                                    2
                                </span>
                            </ion-col>
                            <ion-col size="1" text-center>
                                <span>
                                    1
                                </span>
                            </ion-col>
                            <ion-col size="1" text-center>
                                <span>
                                    0
                                </span>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-list>

        </ion-card-content>
    </ion-card>
</ion-content>