<ion-content>
    <ng-container *ngIf="tables">
        <ng-container *ngFor="let table of tables">
            <div>
                <ion-grid>
                    <ion-row>
                        <ion-col padding-start>
                            <h3>{{table.round}}</h3>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            <ion-card>
                <ion-card-content no-padding>
                    <div class="list-header">
                        <ion-list-header no-padding padding-end>
                            <ion-grid>
                                <ion-row>
                                    <ion-col size="1" text-center>
                                        <span>St</span>
                                    </ion-col>
                                    <ion-col size="5">
                                        <span>Team</span>
                                    </ion-col>
                                    <ion-col size="1" text-center>
                                        <span>P</span>
                                    </ion-col>
                                    <ion-col size="1" text-center>
                                        <span>S</span>
                                    </ion-col>
                                    <ion-col size="1" text-center>
                                        <span>C</span>
                                    </ion-col>
                                    <ion-col size="1" text-center>
                                        <span>W</span>
                                    </ion-col>
                                    <ion-col size="1" text-center>
                                        <span>D</span>
                                    </ion-col>
                                    <ion-col size="1" text-center>
                                        <span>L</span>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-list-header>
                    </div>
                    <ion-list no-padding>
                        <ion-item no-padding *ngFor="let team of table.table">
                            <ion-grid>
                                <ion-row align-items-center>
                                    <ion-col size="1" text-center>
                                        <span>{{team.position}}</span>
                                    </ion-col>
                                    <ion-col size="5">
                                        <span>
                                            {{team.team.name}}
                                        </span>
                                    </ion-col>
                                    <ion-col size="1" text-center>
                                        <span>
                                                {{team.points}}
                                        </span>
                                    </ion-col>
                                    <ion-col size="1" text-center>
                                        <span>
                                                {{team.goalsScored}}
                                        </span>
                                    </ion-col>
                                    <ion-col size="1" text-center>
                                        <span>
                                                {{team.goalsConceded}}
                                        </span>
                                    </ion-col>
                                    <ion-col size="1" text-center>
                                        <span>
                                                {{team.wins}}
                                            
                                        </span>
                                    </ion-col>
                                    <ion-col size="1" text-center>
                                        <span>
                                                {{team.draws}}
                                            
                                        </span>
                                    </ion-col>
                                    <ion-col size="1" text-center>
                                        <span>
                                                {{team.losses}}
                                            
                                        </span>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </ng-container>
    </ng-container>
</ion-content>