<div>
    <ion-grid>
        <ion-row>
            <ion-col padding-start>
                <h3>{{positionName}}</h3>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
<ion-list>
    <ion-item *ngFor="let pl of playersList">
        <ion-grid>
            <ion-row align-items-center>
                <ion-col size="6">
                    <span>
                        {{pl.player.firstName}} {{pl.player.lastName}}
                    </span>
                </ion-col>
                <ion-col size="2" text-center>
                    <span>
                        {{pl.appearances}}
                    </span>
                </ion-col>
                <ion-col size="2" text-center>
                    <span>{{pl.goals}}</span>
                </ion-col>
                <ion-col size="2" text-center>
                    <span>{{pl.player.born | date:"yyyy"}}</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
</ion-list>