<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Poland in World Cup</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let wc of worldCups" [routerLink]="['/','wcs',wc.year]">     
        <ion-card-content>
          <div class="image-container">
            <img [src]="wc.image" class="logo-image">
          </div>
          <!-- <div class="title-container">
            <h1>{{wc.title}}</h1>
          </div> -->
        </ion-card-content>
      </ion-card>
</ion-content>