<ion-content>
    <div class="list-header">
        <ion-list-header padding-end>
            <ion-grid>
                <ion-row>
                    <ion-col size="8">
                        <span class="player-column">Player</span>
                    </ion-col>
                    <ion-col size="2" text-center>
                        <span>Games</span>
                    </ion-col>
                    <ion-col size="2" text-center>
                        <span>Goals</span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list-header>
    </div>
    <ng-container *ngIf="squad">
        <app-player-position-list [playersList]="squad.goalkeeper" positionName="Bramkarze"></app-player-position-list>
        <app-player-position-list [playersList]="squad.defender" positionName="Obroncy"></app-player-position-list>
        <app-player-position-list [playersList]="squad.midfielder" positionName="Pomocnicy"></app-player-position-list>
        <app-player-position-list [playersList]="squad.forward" positionName="Napastnicy"></app-player-position-list>
    </ng-container>
</ion-content>