ion-item{
    --ion-background-color:#fff;
 }

.list-header {
    background-color:var(--ion-color-secondary);
    color:white;
    // padding-left:0.5rem;
}

.list-header ion-list-header {
    color:white;
}
.player-name {
    white-space: normal;
}

.cs-text-center {
    text-align: center;
}

.player-column {
    padding-left:1rem;
}

ion-list-header {
    --ion-padding:0px;
    padding-inline-start: 0px;
}

@media only screen and (max-width: 320px) { 
    ion-list-header {
        font-size: 10px;
    }
}