
.ha-flag {
    background-image: url("/assets/flags/ht.svg");
}

.pl-flag {
    background-image: url("/assets/flags/pl.svg");
}

.wg-flag {
    background-image: url("/assets/flags/de.svg");  
}

.sk-flag {
    background-image: url("/assets/flags/kr.svg");  
}

.cr-flag {
    background-image: url("/assets/flags/cr.svg");  
}

.ca-flag {
    background-image: url("/assets/flags/cm.svg");  
}

.ec-flag {
    background-image: url("/assets/flags/ec.svg");  
}

.yg-flag {
    background-image: url("/assets/flags/rs.svg");  
}

.mo-flag {
    background-image: url("/assets/flags/ma.svg");  
}

.su-flag {
    background-image: url("/assets/flags/ru.svg");  
}

.co-flag {
    background-image: url("/assets/flags/co.svg");  
}

.se-flag {
    background-image: url("/assets/flags/se.svg");  
}

.tu-flag {
    background-image: url("/assets/flags/tn.svg");  
}

.fr-flag {
    background-image: url("/assets/flags/fr.svg");  
}

.sg-flag {
    background-image: url("/assets/flags/sn.svg");  
}

.po-flag {
    background-image: url("/assets/flags/pt.svg");  
}

.it-flag {
    background-image: url("/assets/flags/it.svg");  
}

.ge-flag {
    background-image: url("/assets/flags/de.svg");  
}

.me-flag {
    background-image: url("/assets/flags/mx.svg");  
}

.jp-flag {
    background-image: url("/assets/flags/jp.svg");  
}

.br-flag {
    background-image: url("/assets/flags/br.svg");  
}

.pe-flag {
    background-image: url("/assets/flags/pe.svg");  
}

.en-flag {
    background-image: url("/assets/flags/gb-eng.svg");  
}

.us-flag {
    background-image: url("/assets/flags/us.svg");  
}

.ar-flag {
    background-image: url("/assets/flags/ar.svg");  
}

.be-flag {
    background-image: url("/assets/flags/be.svg");  
}

