.polska-flag {
    background-image: url("/assets/flags/pl.svg");
}

.wlochy-flag {
    background-image: url("/assets/flags/it.svg");  
}

.kamerun-flag {
    background-image: url("/assets/flags/cm.svg");  
}

.peru-flag {
    background-image: url("/assets/flags/pe.svg");  
}

.belgia-flag {
    background-image: url("/assets/flags/be.svg");  
}